<!--INDEX TEMPLATE BURN REQUESTS-->
<!-------------------------------->

<% include ../partials/header %>


<div class="container">
    <!--<header class="jumbotron">-->
        <div class="container">
            <H1>Burn Requests</H1>
            <% var total = requests.length %>
            <p>There are <%=total%> burn requests in the system</p>
            <p>
            <span>
            <a class="btn btn-outline-success btn-lg" href="/requests/new">Request Burn Window</a>
            <a class="btn btn-outline-secondary btn-lg" href="/">Back</a>
            </span>
            </p>
        </div>
    <!--</header>-->
  
    <table class="table table-striped tablesorter tablesorter-bootstrap" id="sortableTable">
        <thead>
            <tr>
              <th scope="col">Project Name</th>
              <th scope="col">Requested Acres</th>
              <th scope="col">Submitted</th>
              
            </tr>
        </thead>
      
        <tbody>
            
            <% requests.forEach(function(request, i){ %>
                <tr>
                    <td scope="row">
                        <a href="/requests/<%=request.burn_id%>">
                            <%= request.name %>
                        </a>
                    </td>
                    <td scope="row"><%= request.request_acres%></td>
                    <%  let utcTime = request.date;
                        // during DST local_date will be an hour off, but can't for the life of me get moment.local() to work right
                        var local_date= moment(utcTime).subtract(7, 'hours').format('MMM D YYYY h:mm a');%>
                    <td scope="row"><%= local_date %></td>
                              
                </tr>        
                    
            <% }) %>
            
        </tbody>
    </table>
    
    
</div>
<script src ="/public/js/table.js"></script>


<% include ../partials/footer %>