<% include partials/header %>



<div class="container">
    <header class="jumbotron">
    <div class="container">
        <H1>Burn Detail Page</H1>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><%=burn[0].project_name%></p>
            <div class="list-group">
                <li class="list-group-item"><%=burn[0].agency%></li>
                <a class="btn btn-primary btn-lg" href="\burn_projects\">Back to list</a>
            </div>
        </div>
        
        <div class="col-md-9">
            <p>Acres: <%=burn[0].project_acres%></p>
            <p>Submitted by: <%=burn[0].submitter%></p>
            <p>On: <%=burn[0].submitted_on%></p>
            <p>County: <%=burn[0].county%></p>
            <p>Low Elevation: <%=burn[0].elevation_low%></p>
            <p>High Elevation: <%=burn[0].elevation_high%></p>
            <p>Duration (days): <%=burn[0].duration%></p>
            <p>Fuel Model: <%=burn[0].fuel_model%></p>
            <hr>
            <p><strong>Reviews</strong></p>
            <% reviews.forEach(function(review, i){ %>
                        <p>"<%= review.comment%>"</p>
                        <p>        - <%= review.name%> on <%= review.added_on%></p>
                        <br>
            <% }) %>
            
        </div>

    </div>
    <div>
        
    </div>
        
</div>

<% include partials/footer %>