<% include ../partials/header %>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                
                <H1>Edit <%= burn[0].project_name%></H1>
                <form method="POST" action="/projects/<%= burn[0].burn_project_id%>?_method=PUT">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                            <div class="d-flex justify-content-between">
                                <div class="form-group">
                                    <label for="project_name">Project name: </label>
                                    <input type="text" id="project_name" class="form-control" name="project_name" value="<%=burn[0].project_name%>">
                                </div>
                                <div class="form-group">
                                    <label for="project_acres">  Acres: </label>
                                    <input type="number" id="project_acres" class="form-control" name="project_acres" value="<%=burn[0].project_acres%>">
                                </div>
                                <div class="form-group">
                                    <label for="burn_type">Burn Type</label>
                                    <select id="burn_type" name="burn_type">
                                        <option value=1>Broadcast</option>
                                        <option value=5>Piles</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-around">
                                <div class="form-group">
                                    <label for="agency_id">Agency</label>    
                                    <select id="agency_id" name="agency_id" >
                                        <% agencies.forEach(function(agency, i){ %>
                                        <option value="<%=agency.number%>"><%=agency.name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label for="county">County</label>    
                                    <select id="county" name="county_id">
                                        <% counties.forEach(function(county, i){ %>
                                        <option value="<%=county.number%>"><%=county.name%></option>
                                        <% }) %>   
                                    </select>
                                 </div>
                            </div>
                            
                            <div class="d-flex justify-content-around">
                                <div class="form-group">
                                    <label for="fuel_model">Main Fuel Model</label>    
                                    <select id="fuel_model" name="major_fbps_fuel">
                                        <% fuelmods.forEach(function(model, i){ %>
                                            <option value="<%=model.number%>"><%=model.name%></option>
                                            <% }) %>   
                                    </select>
                                </div>
                            
                                <div class="form-group">
                                    <!--<p>Airsheds 1-15 below 6500 feet. Airshed 16 is all of Utah 6500' and over</p>-->
                                    <label for="airshed_id">Airshed</label>    
                                    <select id="airshed_id" name="airshed_id">
                                        <% airsheds.forEach(function(airshed, i){ %>
                                            <option value="<%=airshed.number%>"><%=airshed.name%></option>
                                            <% }) %>   
                                    </select>
                                </div>
                            
                            </div>
                            
                            <hr>
                            <p class="section-head">Burn is </p>    
                            <div class="d-flex justify-content-between checkboxes">
                                
                                <label for ="de_minimis"><span>De Minimis:  </span></label>
                                <input type="checkbox" name="de_minimis" value="1" /> 
                                
                                <label for ="class_1"><span>Within a class 1 area:  </span></label>
                                <input type="checkbox" name="class_1" value="1" /> 
                                
                                <label for ="non_attainment"><span>Within a non-attainment area:  </span></label>
                                <input type="checkbox" name="non_attainment" value="1" /> 
                            
                            </div>
                            <hr>
                            
                            <div class="d-flex justify-content-around">
                                
                                <div class="form-group">
                                    <label for="elevation_low">Lowest Elevation: </label>
                                    <input type="number" id="elevation_low" class="form-control" name="elevation_low" value="<%=burn[0].elevation_low%>">
                                </div>
                                
                                 <div class="form-group">
                                    <label for="elevation_high">Highest Elevation: </label>
                                    <input type="number" id="elevation_high" class="form-control" name="elevation_high" value="<%=burn[0].elevation_high%>">
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-around">
                            
                                <div class="form-group">
                                    <label for="duration">Expected number of burn days: </label>
                                    <input type="number" id="duration" class="form-control" name="duration" value="<%=burn[0].duration%>">
                                </div>
                                
                                <div class="form-group">
                                    <label for="pm_max">Maximum tons PM10 expected: </label>
                                    <input type="number" id="pm-max" class="form-control" name="pm_max">
                                </div>
                            </div>
                            
                                
                            
                            
                            
                            <div class="d-flex justify-content-around">
                                <div class="form-group">
                                        <label for="ignition_method">Ignition Method</label>    
                                        <select id="ignition_method" name="ignition_method">
                                            <% methods.forEach(function(method, i){ %>
                                            <option value="<%=method.number%>"><%=method.name%></option>
                                            <% }) %>   
                                        </select>
                                </div>
                                
                                <div class="form-group">
                                        <label for="ert">Emissions Reduction Technique</label>    
                                        <select id="ert" name="ert">
                                            <% erts.forEach(function(ert, i){ %>
                                            <option value="<%=ert.number%>"><%=ert.name%></option>
                                            <% }) %>   
                                        </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for "first_burn">Earliest Burn Date: </label>
                                <input type="date" class="form_control" name="first_burn" value="<%=burn[0].first_burn%>">
                            </div>
                            
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <div>
                                <button type="button" class="btn btn-warning">Save as draft</button>
                                </div>
                                <a class="btn btn-danger" name="cancel" href="/projects">Cancel</a>
                            </div>
                            
                            <hr>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% include ../partials/footer %>