<% include ../partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <H1>Burn Projects</H1>
            <% var total = burns.length %>
            <p>There are <%=total%> burn projects in the system</p>
            <p>
            <a class="btn btn-outline-secondary btn-lg" href="/projects/new">Register New Burn</a>
            </p>
        </div>
    </header>

    <div class="col-lg-12">
        <h3>Registered burn projects</h3>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Project Name</th>
              <th scope="col">Size</th>
              <th scope="col">Submitted</th>
            </tr>
        </thead>
      
        <tbody>
            
            <% burns.forEach(function(burn, i){ %>
                <tr>
                    <td scope="row"><a href="/projects/<%=burn.burn_project_id%>"><%= burn.name%></a></td>
                    <td scope="row"><%= burn.project_acres%></td>
                    <td scope="row"><%= burn.submitted_on%></td>
                </tr>        
                    
            <% }) %>
            
        </tbody>
    </table>
    
    
</div>

<% include ../partials/footer %>