<% include ../partials/header %>



<div class="container">
    <header class="jumbotron m5">
    <div class="container">
            <h2 class="display-4"><%=burn[0].project_name%></h2>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <form method="POST" action="/projects/<%=burn[0].burn_project_id%>?_method=DELETE">
                    <a class="btn btn-primary btn-lg w-75" href="/projects">Back </a>
                    <br><br>
                    <a class="btn btn-warning btn-lg w-75" href="/projects/<%=burn[0].burn_project_id%>/edit">Edit </a>
                    <br><br>
                    <button id="delete-button" class="btn btn-danger btn-lg w-75" >Delete</button>
                </form>
            </div>
        </div>
        
        <div class="col-md-9">
            <p>Acres: <%=burn[0].project_acres%></p>
            <p>Submitted by: <%=burn[0].submitter%></p>
            <p>Agency: <%=burn[0].agency%></p>
            <%  let subTime = burn[0].submitted_on;
                // dates during DST may be an hour off, but can't for the life of me get moment.local() to work right
                var sub_date= moment(subTime).subtract(7, 'hours').format('dddd, MMM D YYYY h:ss a');%>
            <p>On: <%=sub_date%></p>
            <p>County: <%=burn[0].county%></p>
            <p>Airshed: <%=burn[0].airshed_id%></p>
            <p>Burn type: <%=burn[0].type%></p>
            <p>Low Elevation: <%=burn[0].elevation_low%></p>
            <p>High Elevation: <%=burn[0].elevation_high%></p>
            <p>Duration (days): <%=burn[0].duration%></p>
            <p>Fuel Model: <%=burn[0].fuel_model%></p>
            <%  let firstTime = burn[0].first_burn;
                // dates during DST may be an hour off, but can't for the life of me get moment.local() to work right
                var first_date= moment(firstTime).format('MMMM D YYYY');%>
            <p>Earliest date: <%=first_date%></p>
            
            <p>Ignition method: <%=burn[0].method%></p>
            
            <!--Logic to show the booleans -->
            
            <%if(burn[0].class_1 === 0) {%>
                <p>Class 1: No</p>
            <%} else { %>
                <p>Class 1: Yes</p>
            <% } %>
           
            <%if(burn[0].de_minimis === 0) {%>
                <p>De_minimis: No</p>
            <%} else { %>
                <p>De_minimis: Yes</p>
            <% } %>
            
            <%if(burn[0].non_attainment === 0) {%>
                <p>Non_attainment: No</p>
            <%} else { %>
                <p>Non_attainment: Yes</p>
            <% } %>
            
            <!--Iterate through the objectives            -->
            <hr>
            <p><strong>Objectives</strong></p>
            <% objectives.forEach(function(objective, i){ %>
                        <p class="mb-0"><%= objective.name%></p>
            <% }) %>
            
            <!--Iterate through the reviews            -->
            <hr>
            <p><strong>Reviews</strong></p>
            <% reviews.forEach(function(review, i){ %>
                        <blockquote class="blockquote">
                        <p class="mb-0"><%= review.comment%></p>
                        <footer class="blockquote-footer"><%= review.name%>, <%= moment(review.added_on).subtract(7, 'hours').format('MMM D YYYY');%></footer>
                        </blockquote>
                        <br>
            <% }) %>
            
        </div>

    </div>
    <div>
        
    </div>
        
</div>

<% include ../partials/footer %>